<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="FloatingFragment">

<head>
	<link th:href="@{/css/floatingBtns.css}" rel="stylesheet" />

</head>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->

<body>
	<div id="chatbot_btn">
		<img th:src="@{/img/chatbot_logo.png}" />
		<p>선물 추천받기</p>
	</div>
	<button id="page_up">
		<img id="pugeup_btn" th:src="@{/img/page_up.png}" />
	</button>
	<button id="recent_products">
		<a href=""><img th:src="@{/img/recent_products.png}" /></a>
	</button>
</body>
</html>