<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">

<head>
	<link th:href="@{/css/footer.css}" rel="stylesheet" />

</head>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->

<body>
	<footer>
		<nav class="footer_navbar">
			<ul>
				<li><a href="#">공지사항</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">입점신청</a></li>
			</ul>
		</nav>
		<div class="footer_content">
			<h1 id="footer_logo">MTYPE</h1>
			<div>
				<p>상호명 : MTYPE(주)</p>
				<p>대표 : TI</p>
				<p>주소 : 서울 강남구 뱅뱅사거리</p>
				<p>사업자번호 : 123-45-67890</p>
			</div>
			<div>
				<p>고객만족센터 : 0000-0000</p>
				<p>운영시간 : 평일 09:00 ~ 18:00 (주말, 공휴일 휴무)</p>
				<p>점심시간 : 12:00 ~ 13:00</p>
			</div>
		</div>

	</footer>
</body>

</html>