.gift-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.gift-text {
	font-size: 20px;
	color: black;
	margin-bottom: 50px;
}

.gift-container h3 {
	font-size: 20px;
	margin-bottom: 15px;
}

/* 상품정보 */
.product-info {
	padding: 20px;
	margin-bottom: 20px;
	display: flex;
	/* 내부 요소들이 가로로 배치 */
	align-items: flex-start;
	/* 이미지와 리스트를 위쪽 정렬 */
	gap: 30px;
	/* 이미지와 리스트 사이 간격 */
}

.product-img {
	width: 200px;
	height: 200px;
	background-color: #ddd;
	margin-bottom: 15px;
}

.product-info ul {
	list-style-type: none;
	padding: 0;
}

.product-info ul li {
	margin-bottom: 20px;
}

/* 받는사람 */
#recipient {
	width: 300px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 60px;
	border: none;
	border-bottom: 1px solid black;
}

/* 선물메시지 */
.gift {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.check-icon {
	width: 16px;
	height: 16px;
}

.gift strong {
	font-size: 20px;
	color: black;
	margin-right: 10px;
}

.s-btn {
	border: none;
	background-color: white;
	cursor: pointer;
	color: #888;
	font-size: 14px;
	padding-left: 10px;
}

.box {
	width: 50%;
	height: 300px;
	background-color: #ddd;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-options {
	display: flex;
	gap: 15px;
	width: 50%;
}

.op-box {
	width: 50%;
	/* 박스 크기 비율 조절 */
	height: 100px;
	background-color: #ddd;
	color: black;
	text-align: center;
	line-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.message-box {
	width: 50%;
	height: 300px;
	background-color: #ddd;
	margin-top: 15px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 결제정보 */
.payment-info {
	padding: 20px;
	margin-bottom: 30px;
	width: 30%;
}

.payment-details {
	display: flex;
	flex-direction: column;
}

.payment-row {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 10px;
}

.payment-row label {
	font-size: 15px;
	color: black;
}

.payment-row input {
	width: 150px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: right;
	font-size: 15px;
	background-color: #f9f9f9;
	color: #333;
	font-weight: bold;
}

.use-buttons {
	display: flex;
	gap: 10px;
}

.use-btn,
.use-all-btn {
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;
	background-color: white;
	font-size: 15px;
}

.use-btn {
	margin-left: 55%;
}

.use-all-btn {
	margin-left: auto;
}

.use-btn:hover,
.use-all-btn:hover {
	background-color: #ddd;
}

.points-info {
	font-size: 13px;
	color: #999;
	text-align: right;
}

/* 결제 예상 금액 */
.payment-summary {
	width: 100%;
	max-width: 400px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: -1650px;
	margin-left: 700px;
	margin-bottom: 1400px;
}

.summary-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.summary-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.summary-row p {
	font-size: 15px;
	color: #333;
}

.summary-row span {
	font-size: 15px;
	color: #333;
	font-weight: bold;
}

.pay-btn {
	width: 100%;
	padding: 12px;
	background-color: #111;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
}

.pay-btn:hover {
	background-color: #333;
}