.mbti-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.mbti-text {
	text-align: center;
	font-size: 30px;
	color: black;
}

.mbti {
	padding: 5px;
}

.mbti img {
	width: 100%;
	max-width: 600px;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
}