.main_mypage {
  max-width: 1000px;
  min-width: 700px;
  padding-top: 30px
}

/*상품리스트 레이아웃*/
.products_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*가로 4줄*/
  gap: 50px;
  width: 100%;
}

/* 상품 개별 */
.product_card {
  /*
	border: 1px solid gray;
  border-radius: 6px;
  */
  overflow: hidden;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product_img {
  position: relative;
  width: 100%;
  overflow: hidden; /* 영역을 벗어나는 이미지 숨김 */
  aspect-ratio: 1 / 1; /* 가로 세로 비율 1:1 고정 */
}
.product_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율을 유지한 채 영역을 가득 채움 */
}

/*
.product_img {
  position: relative; /*하트 버튼의 부모태그
  width: 100%;
  height: 70%;
}
.product_img > img {
  width: 100%;
  height: 100%;
}
*/
.wishlist_btn img {
  width: 40px;
}
.wishlist_btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.product_info p {
  margin: 2px;
  font-size: 10pt;
}
.product_info p:nth-child(1) {
  font-weight: bold;
  cursor: pointer;
}
