<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/chatbot.css" />
  </head>
  <body>
    <header>
      <h1>AI 선물 추천 챗봇</h1>
      <button>X</button>
    </header>
    <main>
      <div class="chatbot_text">
        <p>안녕하세요! 무엇을 도와드릴까요?</p>
      </div>
      <div class="user_text">
        <p>20대 INFP에게 생일 선물할 상품 추천해줘</p>
      </div>
      <div class="chatbot_text">
        <p>20대 INFP의 생일에 어울리는 상품들을 추천드릴게요!</p>
      </div>
      <div class="chatbot_product">
        <div class="product_list">
          <div class="product_card">
            <div class="product_img">
              <img
                src="../static/img/product_img.png"
                alt="상품이미지"
                width="200px"
              />
              <button class="wishlist_btn">
                <img src="../static/img/heart_empty.png" width="40px" />
              </button>
            </div>
            <div class="product_info">
              <p class="store_name">스토어명 ></p>
              <p class="product_name">상품명</p>
              <p class="product_price">가격</p>
            </div>
          </div>
          <div class="product_card">
            <div class="product_img">
              <img
                src="../static/img/product_img.png"
                alt="상품이미지"
                width="200px"
              />
              <button class="wishlist_btn">
                <img src="../static/img/heart_empty.png" width="40px" />
              </button>
            </div>
            <div class="product_info">
              <p class="store_name">스토어명 ></p>
              <p class="product_name">상품명</p>
              <p class="product_price">가격</p>
            </div>
          </div>
          <div class="product_card">
            <div class="product_img">
              <img
                src="../static/img/product_img.png"
                alt="상품이미지"
                width="200px"
              />
              <button class="wishlist_btn">
                <img src="../static/img/heart_empty.png" width="40px" />
              </button>
            </div>
            <div class="product_info">
              <p class="store_name">스토어명 ></p>
              <p class="product_name">상품명</p>
              <p class="product_price">가격</p>
            </div>
          </div>
        </div>
      </div>
      <div class="chatbot_text">
        <p>20대 INFP의 생일에 어울리는 상품들을 추천드릴게요!</p>
      </div>
      <div class="chatbot_text">
        <p>20대 INFP의 생일에 어울리는 상품들을 추천드릴게요!</p>
      </div>
    </main>
    <footer>
      <input
        type="text"
        placeholder="추천받고 싶은 내용 또는, MBTI에 대해
      궁금한 점을 입력해주세요!"
      />
    </footer>
  </body>
</html>
