<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}" layout:fragment="Content">
	
	<link rel="stylesheet" th:href="@{/css/login.css}">
  <body>
    <main>
      <h2>회원 로그인</h2>
      <div class="kakao_login" id="kakao-login-btn">
        <img id="kakao_logo" th:src="@{/img/kakao_logo.png}" />
        <h4>카카오로 로그인하기</h4>
      </div>
    </main>
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
	<script type="text/javascript" th:src="@{/js/user-login.js}"></script>
	<script type="text/javascript" th:src="@{/js/login-handler.js}"></script>
  </body>
</html>
