<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MBTI CHARACTER PAGE</title>
    <link rel="stylesheet" href="mbti_char.css" />
  </head>
  <body>
    <header>
      <h1>header</h1>
    </header>

    <main>
      <!-- MBTI(유형별 특징) 페이지 -->
      <div class="mbti-container">
        <section>
          <div class="mbti-text">
            <h1>MBTI 유형별 특징</h1>
          </div>
        </section>

        <section class="mbti">
          <img src="mbtiimage.png" alt="MBTI 유형별 이미지" />
        </section>
      </div>
    </main>

    <footer>
      <h1>footer</h1>
    </footer>
  </body>
</html>
