<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MTYPE SHOP</title>
	<link rel="stylesheet" href="../static/css/productList.css" />
</head>

<body>

	<div class="content">
		<aside class="middle_categories">
			<h1>상위 카테고리</h1>
			<hr />
			<p>중위 카테고리</p>
			<p>중위 카테고리</p>
			<p>중위 카테고리</p>
			<p>중위 카테고리</p>
		</aside>
		<main>
			<nav class="bottom_categories">
				<ul>
					<li id="all">전체</li>
					<li>하위 카테고리</li>
					<li>하위 카테고리</li>
				</ul>
			</nav>
			<div class="sort_by">
				<ul>
					<li id="new">신상품순</li>
					<li>리뷰 많은순</li>
					<li>판매순</li>
					<li>낮은 가격순</li>
					<li>높은 가격순</li>
				</ul>
			</div>
			<div class="product_list">
				<div class="product_card">
					<div class="product_img">
						<img src="../static/img/product_img.png" alt="상품이미지" />
						<button class="wishlist_btn">
							<img src="../static/img/heart_empty.png" />
						</button>
					</div>
					<div class="product_info">
						<p class="store_name">스토어명 ></p>
						<p class="product_name">상품명</p>
						<p class="product_price">가격</p>
					</div>
				</div>
			</div>
			<div class="chatbot_btn">
				<img src="../static/img/chatbot_logo.png" />
				<p>선물 추천받기</p>
			</div>
			<button class="page_up">
				<img src="../static/img/page_up.png" width="30px" />
			</button>
			<button class="recent_products">
				<img src="../static/img/recent_products.png" width="30px" />
			</button>
		</main>
	</div>

</body>

</html>